
<div class="page-header" style="margin-bottom: 0px; margin-top:0px;background-image:url('/images/background.png/');
; padding-top:12px;">
	<div class="container-fluid">
    <div class="row text-center">
	    <em><h1 style="color:#8a80ad; font-size: 4.5em; margin-bottom: 20px; padding-top: 10px;" >Cristina Marquez</h1></em>
	    <h3 style="color:dimgray">Life Coach & Leadership Consultant</h3>
	  </div>  
	</div>  
</div>





<nav class="navbar navbar-inverse" role="navigation" style="margin-bottom: 0px;background-color:#8a80ad; width:101%; border-radius: 0px;">
  <div class="container">
    <ul class="nav navbar-nav" style="margin-left: 35%">
    	<li><a href="" style="color:white">Home</a></li>
    	<li><a href="" style="color:white">About</a></li>
    	<li><a href=""  style="color:white">Work With Me</a></li>
    	<li><a href=""  style="color:white">Contact</a></li>


    </ul>

  </div>
</nav>








<div class="row">    
        <!-- The carousel -->
	<div id="transition-timer-carousel" class="carousel slide transition-timer-carousel" data-ride="carousel">
				<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#transition-timer-carousel" data-slide-to="0" class="active"></li>
			<li data-target="#transition-timer-carousel" data-slide-to="1"></li>
			<li data-target="#transition-timer-carousel" data-slide-to="2"></li>
		</ol>

				<!-- Wrapper for slides -->
		<div class="carousel-inner">
			<div class="item active">
                <img src="/images/green.png" style="width: 100%">
	                <div class="carousel-caption">
	                    <h1 class="carousel-caption-header">Slide 1</h1>
	                    <p class="carousel-caption-text hidden-sm hidden-xs">
	                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dignissim aliquet rutrum. Praesent vitae ante in nisi condimentum egestas. Aliquam.
	                    </p>
	                </div>
	            </div>
	            
	            <div class="item">
	                <img src="/images/eyes.jpg" style="width:100%">
	                <div class="carousel-caption">
	                    <h1 class="carousel-caption-header">Slide 2</h1>
	                    <p class="carousel-caption-text hidden-sm hidden-xs">
	                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dignissim aliquet rutrum. Praesent vitae ante in nisi condimentum egestas. Aliquam.
	                    </p>
	                </div>
	            </div>
	            
	            <div class="item">
	                <img src="/images/baby.png" style="width:100%">
	                <div class="carousel-caption">
	                    <h1 class="carousel-caption-header">Slide 3</h1>
	                    <p class="carousel-caption-text hidden-sm hidden-xs">
	                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dignissim aliquet rutrum. Praesent vitae ante in nisi condimentum egestas. Aliquam.
	                    </p>
	                </div>
	            </div>
	        </div>

				<!-- Controls -->
				<a class="left carousel-control" href="#transition-timer-carousel" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left"></span>
				</a>
				<a class="right carousel-control" href="#transition-timer-carousel" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right"></span>
				</a>
	            
	            <!-- Timer "progress bar" -->
	            <hr class="transition-timer-carousel-progress-bar animate" />
</div>	            



<nav class="navbar navbar-inverse" role="navigation" style="margin-bottom: 0px;background-color:#8a80ad; width:101%; border-radius: 0px;">
  <div class="container">
    *****

  </div>
</nav>







<div id="footer">
  <div class="container">
    <p class="text-muted">This Bootstrap Example courtesy <a href="http://www.bootply.com">Bootply.com</a></p>
  </div>
</div>

<ul class="nav pull-right scroll-top">
  <li><a href="#" title="Scroll to top"><i class="glyphicon glyphicon-chevron-up"></i></a></li>
</ul>

